@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
@import-normalize;

body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", 'Rajdhani',
    monospace;
}
