@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

#resize {
  width: 60%;
  margin: 0 auto;
  position: relative;
  float: left;
  left: 10%;
}

#form_info {
  background: #f9f9f9;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 2%;
  margin: 50px 0;
  border: 3px solid #7cb5ef;
  box-shadow: 10px 10px 5px lightblue;
  border-radius: 20px;
}

#form_info input,
#form_info textarea,
#form_info button[type="submit"] {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

#form_info h3 {
  color: #f96;
  display: block;
  font-size: 30px;
  font-weight: 400;
}
#form_info input::placeholder {
  color: black;
}

#form_info h4 {
  margin: 0px 2px 5px;
  display: block;
  font-size: 15px;
  font-family: sans-serif;
  color: black;
  font-weight: semibold;
  letter-spacing: 0.1em;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#form_info input,
#form_info textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
  border-radius: 10px;
}

#form_info input:hover,
#form_info textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#form_info textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#form_info button[type="submit"] {
  margin-top: 1%;
  cursor: pointer;
  width: 15%;
  border: none;
  background: #1e90ff;
  color: #fff;
  padding: 10px;
  font-size: 15px;
  float: right;
  border-radius: 20px;
}

#form_info button[type="submit"]:hover {
  background: #09c;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#form_info button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#form_info input:focus,
#form_info textarea:focus {
  outline: 0;
  border: 1px solid #999;
}
::-webkit-input-placeholder {
  color: #888;
}
:-moz-placeholder {
  color: #888;
}
::-moz-placeholder {
  color: #888;
}
:-ms-input-placeholder {
  color: #888;
}

.custom-fbtn {
  width: 10%;
  height: 1%;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  margin-left: auto;
}

.fbtn {
  background: #1e90ff;
  line-height: 42px;
  padding: 0;
  border: none;
}
.fbtn span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.fbtn:before,
.fbtn:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 1px;
  box-shadow: -1px -1px 20px 0px rgb(190, 177, 177),
    -4px -4px 5px 0px rgba(255, 255, 255, 1),
    7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}

.fbtn:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}

.fbtn:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}

.fbtn:hover {
  background: transparent;
  color: #76aef1;
  box-shadow: none;
}

.fbtn:hover:before {
  transition: all 500ms ease;
  height: 100%;
}

.fbtn:hover:after {
  transition: all 500ms ease;
  height: 100%;
}
.fbtn span:before,
.fbtn span:after {
  position: absolute;
  content: "";
  box-shadow: -1px -1px 20px 0px rgba(255, 255, 255, 1),
    -4px -4px 5px 0px rgba(255, 255, 255, 1),
    7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}
.fbtn span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: 0.5px;
  transition: all 500ms ease;
}
.fbtn span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: 0.5px;
  transition: all 500ms ease;
}
.fbtn span:hover:before {
  width: 100%;
}
.fbtn span:hover:after {
  width: 100%;
}

#main {
  display: flex;
  align-items: center;
}

.add-btn {
  margin-left: 0.2%;
  margin-bottom: 0.5%;
  background-color: #1e90ff;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.add-btn:hover {
  background-color: #0077b6;
}

#plus {
  margin-right: 5px;
}

#verticalAlign {
  display: flex;
  align-items: center;
}
