.side {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
}
#s {
  font-size: 25px;
  font-weight: bold;
}
.header {
  background-image: linear-gradient(to left, #553c9a, #a577d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
}
.si {
  background-color: white;
}

#st {
  color: rgb(26, 40, 59);
}
