html {
  margin: 0;
  padding: 0;
}
#block {
  text-align: right;
}
.spacing {
  margin-right: 2%;
}

#rmstyle {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin-right: 1%;
}

#dropdown-basic-button {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 10%;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  margin-right: 1%;
  font-size: 20px;
  font-weight: bold;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;

  text-shadow: 0 0 10px #fff;
}

#topbar {
  background-color: #243b55;
  display: flex;
  width: 100%;
  float: right;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0.5%;
}

#ts {
  border-bottom: 2px solid grey;
}
