@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500&display=swap');
.description {
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.description-title {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 10px;
  font-family: 'Rajdhani', sans-serif;
  color: #646482;
}

.description-content {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.5;
  color: #646482;
  font-family: 'Rajdhani', sans-serif;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

.checkbox-label input {
  margin-right: 10px;
}
