@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500&display=swap");
.profile {
  width: 60%;
  font-family: monospace;
  font-size: larger;
  box-shadow: 3px 3px 2px #0000001a;
}

#BorderStyle {
  margin: auto;
  margin-top: 2%;
  width: 50%;
  background-color: lightblue;
}

#listStyle {
  margin-left: 20%;
}

#prefix {
  float: left;
}
#suffix {
  margin-left: 20%;
}

#p2 {
  margin-top: 1%;
}

#changePW {
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  background-color: lightsteelblue;
  border-radius: 15px;
}
.custom-btn {
  float: right;
  text-align: center;
  color: #8d8ddb;
  background: #abacf0;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px 25px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

.b-profile {
  background: #b621fe;
  border: none;
  z-index: 1;
}
.b-profile:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #663dff;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.b-profile:hover {
  color: #fff;
}
.b-profile:hover:after {
  left: 0;
  width: 100%;
}
.b-profile:active {
  top: 2px;
}

.b-search {
  overflow: hidden;
  color: #8d71f0;
  border: 10px;
  box-shadow: 0 0 0 0 #0032f9, 0 0 0 0 #ff00bb;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  z-index: 1;
  float: none;
  display: "block";
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 20px;
  border: #8d71f0 1.5px solid;
}
.b-search:after {
  position: absolute;
  content: "";
  width: 200px;
  height: 200px;
  top: -80px;
  right: 0;
  left: -50px;
  z-index: -1;
  z-index: -1;
  background-color: #7d7fec;
  background-image: linear-gradient(
    115deg,
    #e9e9fe 0%,
    #e1e1ff 50%,
    #c5c5ff 100%
  );
  z-index: -1;
  border-radius: 10px;
  transition: all 0.8s ease;
}
.b-search:hover {
  transform: translate(0, -1px);
  transform: scale(1.01);
  box-shadow: -3px -3px 5px 0 #bebffe, 3px 3px 5px 0 #7d7fec;
}
.b-search:hover:after {
  transform: rotate(200deg);
}
.b-search:active {
  top: 2px;
}

.b-confirm {
  float: left;
  overflow: hidden;
  color: #f3f3f9;
  box-shadow: 0 0 0 0 #00a2ff, 0 0 0 0 #d000ff;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  border: 10px;
  z-index: 1;
  border: none;
  margin-top: 10px;
  font-size: 24px;
  padding-top: 12px;
}
.b-confirm:after {
  position: absolute;
  content: "";
  width: 200px;
  height: 200px;
  top: -80px;
  right: 0;
  left: -50px;
  z-index: -1;
  background-color: #7d7fec;
  background-image: linear-gradient(
    115deg,
    #adade3 0%,
    #8585de 50%,
    rgb(105, 107, 230) 100.56%
  );
  z-index: -1;
  border-radius: 10px;
  /* box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1); */
  transition: all 0.8s ease;
}
.b-confirm:hover {
  transform: translate(0, -1px);
  transform: scale(1.05);
  box-shadow: -3px -3px 5px 0 #bebffe, 3px 3px 5px 0 #7d7fec;
}
.b-confirm:hover:after {
  transform: rotate(200deg);
}
.b-confirm:active {
  top: 2px;
}
.b-page {
  width: 100px;
  overflow: hidden;
  color: #f3f3f9;
  box-shadow: 0 0 0 0 #00a2ff, 0 0 0 0 #d000ff;
  text-align: center;
  float: none;
  background: #9578a3;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  border: none;
  z-index: 1;
  font-size: 17px;
  padding-left: 21px;
}
.b-page:after {
  position: absolute;
  content: "";
  width: 200px;
  height: 200px;
  top: -80px;
  right: 0;
  left: -50px;
  z-index: -1;
  background-color: #7d7fec;
  background-image: linear-gradient(
    115deg,
    #adade3 0%,
    #8585de 50%,
    rgb(105, 107, 230) 100.56%
  );
  z-index: -1;
  /* box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1); */
  transition: all 0.8s ease;
  border-radius: 10px;
}
.b-page:hover {
  transform: translate(0, -1px);
  box-shadow: -3px -3px 5px 0 #bebffe, 3px 3px 5px 0 #7d7fec;
}
.b-page:hover:after {
  transform: rotate(200deg);
}
.b-page:active {
  top: 2px;
}
.b-page:disabled {
  background-color: #ccc;
  color: #666;
  opacity: 0.6;
  pointer-events: none;
}

.b-login {
  overflow: hidden;
  color: #f3f3f9;
  box-shadow: 0 0 0 0 #00a2ff, 0 0 0 0 #d000ff;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  border: 10px;
  z-index: 1;
  margin-top: 10px;
  float: left;
}
.b-login:after {
  position: absolute;
  content: "";
  width: 200px;
  height: 200px;
  top: -80px;
  right: 0;
  left: -50px;
  z-index: -1;
  background-color: #7d7fec;
  background-image: linear-gradient(
    115deg,
    #adade3 0%,
    #8585de 50%,
    rgb(105, 107, 230) 100.56%
  );
  z-index: -1;
  border-radius: 10px;
  /* box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1); */
  transition: all 0.8s ease;
}
.b-login:hover {
  transform: translate(0, -1px);
  box-shadow: -3px -3px 5px 0 #bebffe, 3px 3px 5px 0 #7d7fec;
}
.b-login:hover:after {
  transform: rotate(200deg);
}
.b-login:active {
  top: 2px;
}

.main_h1 {
  width: 100%;
  font-size: 30px;
}

.warning {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  width: 35%;
  min-width: 500px;
  min-height: 200px;
  background: linear-gradient(117.47deg, #F4F4FF 3.33%, #E7E7FA 100.44%);
  box-shadow: 4px 4px 30px #AFAFE9;
  border-radius: 20px;
  margin-left: 20%;
  margin-top: 15%;
  display: block;
  z-index: 2;
}

.warning-icon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: #ff7f50;
  box-shadow: 0 0 20px #ff7f50, 0 0 40px #ff7f50, 0 0 60px #ff7f50,
    0 0 80px #ff7f50, 0 0 100px #ff7f50, 0 0 120px #ff7f50, 0 0 140px #ff7f50,
    0 0 160px #ff7f50;
}

.warning-text {
  padding: 5px;
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  font-family: "Rajdhani", sans-serif;
  color: #6d6a9a;
  /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff7f50, 0 0 40px #ff7f50,
    0 0 50px #ff7f50; */
}

.rmb{
  color: #483ddd;
}

.yes {
  margin-left: 25%;
  margin-top: 3%;
  margin-right: 30%;
  margin-bottom: 1%;
  border-radius: 10px;
  padding: 1%;
  border: #8b85de 0px solid;
  color: #8b85de;
  transition: 0.3s;
}
.yes:hover{
  transform: scale(1.1);
}
.no {
  margin-top: 3%;
  border-radius: 10px;
  padding: 1%;
  border:none;
  transition: 0.3s;
}
.no:hover{
  transform: scale(1.1);
}

#rmB {
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

.is-blurred {
  filter: blur(5px);
}
