body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

t1 {
  font-weight: 700;
  font-size: 25px;
  color: #7d7fec;
  padding-left: 3%;
}

.header {
  padding-left: 5%;
}
.side {
  float: left;
  height: 100%;
}
t2 {
  font-size: 20px;
  margin-top: 10px;
  padding-left: 10%;
}

t3 {
  color: #dcc6c6;
}
