.search {
  width: 100%;
  position: relative;
  display: flex;
  margin-top: 4%;
  box-shadow: 3px 3px 2px #0000001a;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 2%;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 50%;
  position: relative;
  left: 40%;
  transform: translate(-50%, -50%);
}

#table {
  width: 80%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
  padding: 50%;
  border-top: solid 3px rgb(221, 240, 247);
  border-left: solid 3px rgb(221, 240, 247);
  border-right: solid 3px lightblue;
  border-bottom: solid 3px lightblue;
  margin-right: 20%;
}

#td {
  padding: 15px;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  text-shadow: 1px 1px 2px rgba(57, 56, 56, 0.6);
}
#th {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  font-weight: bold;
  text-align: center;
  background-color: #9898b8;
  font-family: Sans-Serif;
  font-size: 18px;
  color: darkslateblue;
  text-shadow: 1px 1px 2px rgba(57, 56, 56, 0.6);
}
tbody tr:hover {
  background-color: rgba(183, 207, 205, 0.3);
}

#rm {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
}
