.changePW {
  width: 40%;
  margin: 0 auto;
  padding: 30px;
  border: 2px solid #85bbd2;
  border-radius: 5px;
  box-shadow: 10px 10px 5px lightblue;
}
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
h2 {
  margin-top: 0;
}

#topic{
  font-family: 'Rajdhani', sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #B2B2BE;
  text-shadow: none;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 400;
  color: #b2b2be;
  text-shadow: 0px 0px 0px #1212d4;
  font-family: 'Rajdhani', sans-serif;
}

input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #B2B2BE;
  border-radius: 20px;
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

#spacing {
  margin-top: 10%;
  margin-left: 10%;
  position: absolute;
}

#space_for_form{
  background: linear-gradient(117.47deg, #F4F4FF 3.33%, #E7E7FA 100.44%);
  box-shadow: 4px 4px 30px #AFAFE9;
  border-radius: 20px;
  border: none;
}
