.changePW {
  width: 40%;
  margin: 0 auto;
  padding: 30px;
  border: 2px solid #85bbd2;
  border-radius: 5px;
  box-shadow: 10px 10px 5px lightblue;
}
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
h2 {
  margin-top: 0;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-shadow: 0px 0px 0px #1212d4;
  font-family: 'Rajdhani', sans-serif;
}

input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #B2B2BE;
  border-radius: 5px;
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

#spacing {
  margin-top: 10%;
  margin-left: 10%;
  position: absolute;
}
