.changePW {
  max-width: 40%;
  margin: 0 auto;
  padding: 30px;
  border: 2px solid #85bbd2;
  border-radius: 5px;
  box-shadow: 10px 10px 5px lightblue;
}
h2 {
  margin-top: 0;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-shadow: 1px 0px 2px rgb(81, 80, 80);
}

input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

#spacing {
  margin-top: 10%;
  margin-left: 10%;
  position: absolute;
}
