@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500&display=swap');

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rajdhani', sans-serif;
  font-weight: normal;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: linear-gradient(117.47deg, #F4F4FF 3.33%, #E7E7FA 100.44%);
  box-shadow: 4px 4px 30px #AFAFE9;
  box-sizing: border-box;
  border-radius: 20px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #797BEB;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  font-weight: normal;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #B2B2BE;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #B2B2BE;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #B2B2BE;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box {
  top: -20px;
  left: 0;
  color: #797BEB;
  font-size: 12px;
  font-family: 'Rajdhani', sans-serif;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #797BEB;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  font-family: 'Rajdhani', sans-serif;
}

.login-box a:hover {
  background: #797BEB;
  color: #B2B2BE;
  border-radius: 5px;
  box-shadow: 0 0 5px #797BEB, 0 0 25px #797BEB, 0 0 50px #797BEB,
    0 0 100px #797BEB;
    
}

.login-box a span {
  position: absolute;
  display: block;
}

#signup {
  color: #B2B2BE;
  font-family: 'Rajdhani', sans-serif;
}

#rm2 {
  background: none;
  color: inherit;
  border: 1.5px solid;
  padding: 1px 5px 6px 5px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 300;
  font: inherit;
  cursor: pointer;
  margin: 5px;
  letter-spacing: 0;
  display: inline;
  color: #7D7FEC;
  transition: 0.5s;
  border-radius: 10px;
  box-shadow: 4px 4px 30px #e8e8f2;
}

#signUpHere{
  display: inline;
  font-family: 'Rajdhani', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

#rm2 span {
  text-decoration: underline;
  cursor: pointer;
}

#rm2:hover {
  color: #e7e7f5;
}

#rm2::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background:#7D7FEC ;
  z-index: -1;
  transition: 0.5s;
  border-radius: 10px 10px 10px 10px;
  top: 0;
  
}

#rm2:hover::before {
  height: 100%;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #797BEB;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box a:hover {
  /* background: #797BEB; */
  color: #7575cb;
  border-radius: 5px;
  box-shadow: 0 0 5px #797BEB, 0 0 25px #797BEB, 0 0 50px #797BEB,
    0 0 100px #797BEB;
}



#wrongAC {
  color:#B2B2BE;
  font-family: 'Rajdhani', sans-serif;
}
