@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Rajdhani', sans-serif;
  font-weight: normal;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: linear-gradient(117.47deg, #F4F4FF 3.33%, #E7E7FA 100.44%);
  box-shadow: 4px 4px 30px #AFAFE9;
  box-sizing: border-box;
  border-radius: 20px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #797BEB;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  font-weight: normal;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #B2B2BE;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #B2B2BE;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #B2B2BE;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box {
  top: -20px;
  left: 0;
  color: #4143c6;
  font-size: 12px;
  font-family: 'Rajdhani', sans-serif;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #797BEB;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  font-family: 'Rajdhani', sans-serif;
}

.login-box a:hover {
  background: #797BEB;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #797BEB, 0 0 25px #797BEB, 0 0 50px #797BEB,
    0 0 100px #797BEB;
    
}

.login-box a span {
  position: absolute;
  display: block;
}

#signup {
  color: #B2B2BE;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
}

#rm2 {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
  letter-spacing: 0;
  display: inline;
  color: #cccdf5;

  border-radius: 3px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #797BEB;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box a:hover {
  background: #797BEB;
  color: #d2d2f0;
  border-radius: 5px;
  box-shadow: 0 0 5px #797BEB, 0 0 25px #797BEB, 0 0 50px #797BEB,
    0 0 100px #797BEB;
}

#wrongAC {
  color:#B2B2BE;
  font-family: 'Rajdhani', sans-serif;
}
